body
{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  font-size: 1em;
  /*font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;*/
  background-color: #F1F1E3;
  line-height:150%;
}

p
{
  margin-top:0px;
  margin-bottom:8px;

}

a
{
  color:#666633;
  text-decoration: underline;
  cursor: pointer;
}

a:hover
{ 
  color:#B3B359;
}

h1 {
  text-align:center;
  color: #666633;
  font-family: sans-serif;
  font-size: 1.2em;
  margin-top:0px;
  margin-bottom:25px;
}

h1.build-nr
{
  text-align:left;
  font-size:1.3em;
  background-color:#F0F1E3;
  padding:5px;
}

h2 { 
  color: #666633;
  font-family: sans-serif;
  font-size: 1.2em;
  margin-top:0px;
  text-align:center;
}

h2.history-entry
{
  text-align:left;
}

h3 {
  color: #666633;
  font-family: sans-serif;
  font-size: 1.1em;
  text-align:left;
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px;
  border-bottom-color:#D9D8B2;
  border-bottom-style: solid;
}

#top
{
  width:100%;
  height:92px;
  position:relative;
  top: 0;
  left: 0;
  float: left;
  z-index:1;
  background-color: #666633;
}

#head
{
  width:100%;
  height:122px;
  position:relative;
  top: -92px;
  left: 0;
  float: left;
  z-index:2;
  background-image: url(images/head.jpg);
  background-repeat: no-repeat;
}

#ttip
{
  text-align:right;
  text-decoration:none;
}

#left
{
  width:15%;
  height:100%;
  position:relative;
  top: -92px;
  left: 0;
  float: left;
  z-index:1;
  background-color: #FFFFFF;
  border-right-color: #666633;
  border-right-style: solid;
  border-right-width: 1px;
}

#main{
  width:65%;
  height: 100%;
  position: relative;
  top: -92px;
  left: 10px;
  float: left;
  z-index: 1;
}

#navigation
{
  width:100%;
  position:relative;
  top: 0;
  left: 0;
  float: left;
  z-index:0;
  text-align:left;
}

.toc
{
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  left:0;
  float: left;
  background: #FFFFFF;
  line-height: 20px;
  vertical-align:top;
  text-align:right;
}

ul.toc
{
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left:0;
  float: right;
  vertical-align:top;
  margin: 0;
}

li.toclist#manual
{
  border-top-color: #666633;
  border-top-style: solid;
  border-top-width: 1px;
  font-weight:bold;
  font-size:135%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10%;
}

li.toclist#google
{
  border-bottom-color: #666633;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

ul.toc#smalltext
{
  font-size: 0.8em;
  line-height: 1.2em;
  padding-top: 15%;
}

a.list
{
  padding-right: 10px;
  text-decoration: none;
}

a.list#active
{
  color:#FFFFFF;
  font-weight: bold;
}

a.list#active_s
{
  font-weight: bold;
}

li.toclist
{
  list-style: none;
  margin-bottom: 4px;
  padding-bottom:0px;
}

li.toclist#current
{
  background-color:#666633;
}

.content { 
  width: 100%;
  background-color:#FFFFFF;
  padding: 1em 10px 10px 10px;
  vertical-align:top;
  text-align:left;
  border-style:solid;
  border-color:#E0E0E0;
  border-width:1px;
}

.image
{
  padding-left:5px;
  padding-right:10px;
  vertical-align:top;
  text-align:left;
}

.pageTitle
{
  text-align:center;
  color: black;
  font-family: sans-serif;
  font-size: 14pt;
  margin-top:0px;
}

.subTitle
{
  text-align:center;
  color: black;
  font-family: sans-serif;
  font-size: 12pt;
  margin-top:5px;
  margin-bottom:20px;
}

li
{
  list-style: square;
  margin-bottom: 4px;
  padding-bottom:6px;
}

li > ul > li 
{
  list-style: disc;
  margin-bottom: 1px;
  padding-bottom:1px;
  font-size: 95%;
  font-weight: normal;
}

.archive-list > li
{
  font-weight: bold;
}

.disclaimer
{
  line-height:175%;
}

.note
{
  margin: 6px 0 10px 0px;
  background-color:#B37759;
  padding: 10px;
  font-size: 1em;
  color:#FFFFFF;
}

h3.note_h
{
  color:#FFFFFF;
  border-bottom: 0px;
  border-bottom-color:#D9D8B2;
  border-bottom-style: solid;
}

.monospace
{
  font-family:  "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: bold;
}

.programlisting
{
  font-family: monospace;
  background: #F0F0F0;
  border: 1px solid gray;
  padding: 2px;
  font-size: 10pt;
  white-space: pre;
}

.mysql-hint 
{
  margin-top:0.5em;
  margin-left:1em;
  margin-right:1em;
  margin-bottom:2em;
  padding:5px;
  border-style:solid;
  border-color:red;
  border-width:1px
}